# <font color=#000080>Análisis de ventas 2

## <font color=#000080>Librerías

In [55]:
# Análisis de datos
import pandas as pd
import numpy as np

# Direcciones
import os

# Gráficos
import matplotlib.pyplot as plt
import seaborn as sns

# Gestión de libros de Excel
#import xlwings as xw
#import lxml as lx

## <font color=#000080>Carga de datos
- El caracter r será usado cuando se copien y peguen direcciones en Windows con barras incliniadas a la izquierda (**\**)
- Se cargaron datos que no tienen un formato de tabla en el libro de excel

In [61]:
main_path = r'C:\Users\DELL\OneDrive\Formación\Python\Repositorios\Case_Analysis\Data'
df1 = pd.read_excel(io = os.path.join(main_path,'categoria-1.xlsx'),sheet_name = 'Computadoras')
df2 = pd.read_excel(io = os.path.join(main_path,'categoria-2.xlsx'),sheet_name = 'Consolas')

## <font color=#000080>Visualización preliminar de datos

### Información general
Se deben verificar la dimensión (filas y columas) del dataframe, asi como la ubicación y tipo de variables.

In [85]:
df2.head()

,Fecha,Estado,Vendedor,Categoría,Producto,Cantidad,Precio Unitario,Total venta
0,2020-01-01,California,Mario Martínez,Consolas Videojuegos,Game Boy,8,89.95,719.60
1,2020-01-01,Nueva York,Mariana Báez,Consolas Videojuegos,PlayStation 4,10,349.99,3499.90
2,2020-01-01,Florida,Rubén Rondón,Consolas Videojuegos,Wii,6,99.99,599.94
3,2020-01-01,Arizona,Elizabeth Smith,Consolas Videojuegos,PlayStation 3,10,135.99,1359.90
4,2020-01-01,California,Mario Martínez,Consolas Videojuegos,Game Boy Advance,10,299.99,2999.90

In [86]:
df1.head()

,Fecha,Estado,Vendedor,Categoría,Producto,Cantidad,Precio Unitario,Total venta
0,2020-01-01,Florida,Rubén Rondón,Computadoras,SAMSUMG,200,340,68000
1,2020-01-01,Arizona,Elizabeth Smith,Computadoras,HP,230,600,138000
2,2020-01-01,Texas,Rubén Rondón,Computadoras,SAMSUMG,200,340,68000
3,2020-02-01,California,Mario Martínez,Computadoras,HP,2,650,1300
4,2020-03-01,Minnesota,Elizabeth Smith,Computadoras,MAC,60,1100,66000

In [62]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            104 non-null    datetime64[ns]
 1   Estado           104 non-null    object
 2   Vendedor         104 non-null    object
 3   Categoría        104 non-null    object
 4   Producto         104 non-null    object
 5   Cantidad         104 non-null    int64
 6   Precio Unitario  104 non-null    int64
 7   Total venta      104 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 6.6+ KB

In [63]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            139 non-null    datetime64[ns]
 1   Estado           139 non-null    object
 2   Vendedor         139 non-null    object
 3   Categoría        139 non-null    object
 4   Producto         139 non-null    object
 5   Cantidad         139 non-null    int64
 6   Precio Unitario  139 non-null    float64
 7   Total venta      139 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 8.8+ KB

Ambos dataframes tienen el mismo **nombre y ubicación** de columnas

In [64]:
sum(df1.columns == df2.columns)

8

Existen columnas con el mismo nombre pero con diferente tipo de datos

In [75]:
df1.dtypes

Fecha              datetime64[ns]
Estado                     object
Vendedor                   object
Categoría                  object
Producto                   object
Cantidad                    int64
Precio Unitario             int64
Total venta                 int64
dtype: object

In [79]:
a = df1.dtypes.reset_index() == df2.dtypes.reset_index()
a['index'].sum()
a[0].sum()

6