## Análisis de datos - Flinders

### 1. Librerías

In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns, os

### 2. Carga de datos

In [16]:
path = r'C:\Users\DELL\OneDrive\Formación\Python\Taller'
file = 'Flinders.sav'
df = pd.read_spss(path = os.path.join(path,file),convert_categoricals = True).drop(['No'], axis = 1)

### 3. Revisión preliminar

In [17]:
df.head()

,edad,sexo,v1,v2,v3,v4,v5,v6,v7,v8,...,v23,v24,v25,v26,v27,v28,v29,v30,v31,FDMQTOTAL
0,21.0,1.0,2.0,2.0,4.0,2.0,1.0,2.0,3.0,2.0,...,3.0,4.0,3.0,3.0,3.0,2.0,3.0,3.0,4.0,80.0
1,23.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,2.0,2.0,1.0,4.0,2.0,1.0,1.0,50.0
2,20.0,1.0,2.0,1.0,4.0,2.0,2.0,3.0,3.0,1.0,...,1.0,4.0,3.0,3.0,2.0,2.0,3.0,4.0,3.0,79.0
3,21.0,1.0,2.0,3.0,1.0,2.0,1.0,2.0,1.0,1.0,...,1.0,4.0,2.0,4.0,1.0,3.0,2.0,1.0,1.0,62.0
4,21.0,1.0,2.0,3.0,3.0,3.0,1.0,2.0,4.0,2.0,...,3.0,4.0,3.0,4.0,2.0,2.0,3.0,2.0,2.0,83.0

Distribución de la edad

In [26]:
df['edad'].value_counts(dropna = False, bins = 6)

(19.333, 29.0]                    137
(29.0, 38.667]                     33
(9.667, 19.333]                    23
(38.667, 48.333]                    8
(48.333, 58.0]                      3
(-0.059000000000000004, 9.667]      1
Name: edad, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         205 non-null    float64
 1   edad       205 non-null    float64
 2   sexo       205 non-null    float64
 3   v1         205 non-null    float64
 4   v2         205 non-null    float64
 5   v3         205 non-null    float64
 6   v4         205 non-null    float64
 7   v5         205 non-null    float64
 8   v6         205 non-null    float64
 9   v7         205 non-null    float64
 10  v8         205 non-null    float64
 11  v9         205 non-null    float64
 12  v10        205 non-null    float64
 13  v11        205 non-null    float64
 14  v12        205 non-null    float64
 15  v13        205 non-null    float64
 16  v14        205 non-null    float64
 17  v15        205 non-null    float64
 18  v16        205 non-null    float64
 19  v17        205 non-null    float64
 20  v18        205 non-null    float64
 21  v19        205 non-null    float64
 22  v20        205 non-null    float64
 23  v21        205 non-null    float64
 24  v22        205 non-null    float64
 25  v23        205 non-null    float64
 26  v24        205 non-null    float64
 27  v25        205 non-null    float64
 28  v26        205 non-null    float64
 29  v27        205 non-null    float64
 30  v28        205 non-null    float64
 31  v29        205 non-null    float64
 32  v30        205 non-null    float64
 33  v31        205 non-null    float64
 34  FDMQTOTAL  205 non-null    float64
dtypes: float64(35)
memory usage: 56.2 KB